html{
    background-color: #FFECDE;
}

html,body,h1,h2,ul,li{
    margin: 0; 
    padding: 0;
}

.about-header{
    background-color: #482F1D;
}


.about-site-nav{

}

.hero-logo-about{
padding-top: 15px;
}

.about-site-links{
    display: flex;
    justify-content:center;
    list-style-type: none;
    gap: 120px;
}

.about-site-buttons{
    background-color: #7A4F30;
    padding: 4px 0;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px 6px 0 0;
    color: #FFECDE;
    width: 170px;
    text-align: center;
    font-size: 20px;

}

.about-site-buttons:hover{
    color: #482F1D;
}

.current-page{
    background-color: #FFECDE;
    color: #482F1D;
}

.dropdown{
    background-color: #FFECDE;
    position: absolute;
    list-style-type: none;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-trigger{
    position: relative;
}

.dropdown-trigger:hover .dropdown{
    display: block;
   box-sizing: border-box;
}

.full-width{
    width: 100%;
    text-align: center;
}

.centered-links{
    text-align: center;
}

.dropdown-links{
    background-color: #7A4F30;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    padding: 5px;
    color:#FFEAAA;

}

.dropdown-links-color{
    text-decoration: none;
    color:#FFECDE;
}

.dropdown-links-color:hover{
    color: #FFEAAA;

}


.about-hero-image{
width: 100%;
border-top: 50px solid #FFECDE;
  min-height: 400px;
  background: linear-gradient(to top, rgba(255, 236, 222, 1.5) 17%, rgba(255, 236, 222, 0)), url(about-page-assests/52922872792_85fbb705cd_o.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    font-size: xxx-large;
}
