html,body{
    background-color: #FFEAAA;
    max-width: 100%;
}
.header-boarder{
    background-image:url("hp-image-assests/header-boarder.png");
    background-size: cover;
    height: 14px;
    position: relative;
    bottom: 70px;
}

.site-header{
    background-color: #BC0E0E;
    padding: 70px 70px 0 70px;
    border-bottom: 4px solid #FF9040;
    
}


.site-links{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: black;
}



body,h1,h2,ul,li,p{
    margin: 0; 
    padding: 0;
}

.site-nav{
    padding: 50px 0px 0px 0px;
    display: block;
}

.nav-links{
    background-color: #FF9040;
    padding: 4px 0;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px 6px 0 0;
    color: black;
    width: 250px;
    text-align: center;
    font-size: 20px;

}

.nav-links:hover{
    color:#FFEAAA;
    
}

.dropdown{
    background-color: #FFEAAA;
    position: absolute;
    list-style-type: none;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1;
}


.dropdown-trigger{
    position: relative;
}

.dropdown-trigger:hover .dropdown{
    display: block;
   padding: 30px;
   box-sizing: border-box;
}

.full-width{
    width: 100%;
    text-align: center;
}

.centered-links{
    text-align: center;
}

.dropdown-links{
    background-color: #E5680F;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    padding: 5px;
    color: black;

}

.dropdown-links-color{
    text-decoration: none;
    color: black;
}

.dropdown-links-color:hover{
    color: #FFEAAA;

}


.hero{
    background-image: url(hero-image-2.png) ;
    background-size: cover;
    height: 400px;
    background-position: center;
    margin-top: 60px;
    border-top: 4px solid #FF9040;
  
}

.gradient{
    background: linear-gradient(0deg,rgba(255, 234, 170, 1) 0%, rgba(255, 234, 170, 0.2) 100%);
    height: 100%;
}


.circle {
  width: 550px;
  height: 550px;
  background-color: white;
  border-radius: 50%;
  max-width: 600px; 
  margin:auto; 
  padding:10px;
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
}

.hero-logo{
width: 100%; 
  margin:auto; 
  padding:0px;
  


}

.hp-language{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 50px;
    color: #FF9040;

}

.lang-position{
position: relative;
margin: 0px 20px 0px 20px;
}

.wrapper{
max-width: 1200px;
margin: 0 auto;
padding: 0px 100px;

}

.two-col-layout{
    display: flex;
}

.left-col{
    flex:0 0 50% ;
}

.right-col{
    flex: 0 0 50%;
}

hr{
border:white;
height: 10px;
background-color: white;
margin: 0px;
}

.stripe-2{
border:#F9EC31;
height: 10px;
background-color: #F9EC31;
}

.stripe-3{
border:black;
height: 10px;
background-color: black;
}

.stripe-4{
border:#DD3337;
height: 10px;
background-color: #DD3337   
}


.hp-body-tabs{
display: flex;
justify-content: space-between;
list-style-type: none;
margin-top:200px; 
margin-bottom: 20px;
}

.body-tabs-headers{
background-color: #FF9040;
padding: 4px 0;
text-decoration: none;
display: inline-block;
border-radius: 6px 6px 6px 6px;
color: black;
width: 300px;
text-align: center;
font-size: 30px;
}

.events{
    width: 500px;
}


.event-wrapper{
background-color: #FFC7A0;
display: inline-block;
border-radius: 6px 6px 6px 6px;
width: 500px;
}

.body-tab-head-container{
 display: flex;
justify-content: center;
}

.month-header{
display: flex;
justify-content: center;
margin-top: 10px;
font-size: 40px;

}

.event-position{

    font-size: 30px;

    margin: 10px;
}

.quick-links-box{
width: 80px;
height: 80px;
}

.sun-1{
    height: 80px;
    width: 80px;
}

.sun-2{
    height: 80px;
    width: 80px;
}

.sun-3{
     height: 80px;
    width: 80px;
    margin-top: 60px;
}

.quick-links-container{
display: flex;
flex-direction: column;
align-items: center;
 gap: 20px;
}

.quick-links-text{
    text-align: center;
}

.footer-pic-wrapper{
background-image: url("hp-image-assests/foot-pic-2.jpg");
background-size: cover;
height: 92px;
background-position: center center;
opacity: 50%;
margin-top: 100px;
border-top: 2px solid black;
}

.site-footer{
background-color: #BC0E0E;
height: 250px;

}

.footer-links{
list-style-type: none;
display: flex;
justify-content: space-evenly;
}

.footer-nav-links{
    background-color: #FF9040;
    padding: 4px 0;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px 6px 6px 6px;
    color: black;
    width: 250px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}